*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 50px;
}
.parent{
    /* height: 1000px; */
    max-width: 900px;
    margin: auto;
    background-color: grey;


    display: grid;
    /* grid-template-columns: 100px 200px 100px 200px; */
    grid-template-columns: 1fr 2fr 3fr 4fr;
    grid-template-rows: 300px 100px 200px 100px;
    /* grid column-gap: 20px;
    grid row-gap 20px; */
    grid-gap: 20px 20px;
}
.child1{

    border: 2px solid black;
}
.child2{
    border: 2px solid black;

}
.child3{
    border: 2px solid black;

}
.child4{
    border: 2px solid black;

}